.NotFound {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-family: 'Fjalla One';
    font-size: 20rem;
    margin-bottom: 0;
  }
  h6 {
    color: $gray_medium;
    font-size: 3rem;
    margin-bottom: 0;
    font-family: 'Lato';
    text-transform: uppercase;
    letter-spacing: 12px;

  }

}