.HeadeingTitle {
  h2 {
    text-align: center;
    span {
      background-color: $gray_light;

    }
  }
}
.Details {
  ul {
    display: flex;
    grid-gap: 6px;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}