.SideDrawer {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #222;
  transition: all .25s ease-out;
  padding: 0 40px;
  .Center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
}