main {
  background-color: #182c61;
  height: 100vh;
}
.Affix {
  position: fixed;
}
.Nav {
  height: 100vh;
  .Center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
}